@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Use this page to detail your site's privacy policy.</h3>


<div class="container">
  <div class="row">
      <p class="card-text">
                   This Personal Data Protection Notice is issued pursuant to the requirements of the Personal Data Protection Act 2012 (“PDPA”)

                By registering online for this event and clicking on the box: “Consent is hereby given to Serpent under the Personal Data Protection Act 2012 
                and according to the Personal Data Protection Notice which I have read.”, you:
       </p>
        <p class="card-text">
                   agree to disclose personal information (including any visual images, photographs and/or videos captured during the events/seminars/talks) about yourself to us, 
                   (such personal information being hereinafter referred to collectively as “Personal Data”);acknowledge that we have informed you that we may 
                   collect, use (including, process, record, hold, store), and disclose (collectively, “Process”) your Personal Data; confirm that you have read 
                   this Personal Data Protection Notice and NUS’ Personal Data Protection Privacy Statement and related Serpent Data Protection Policy and
                    consent to Serpent’ collection, use and disclosure of your Personal Data, for the Purposes as stated herein.
       </p>
  </div>
</div>

