@page
@model SerpantWebApp.Pages.TermsConditionModel
@{
}
<h1>@ViewData["Title"]</h1>

<h3>Terms & Conditions.</h3>




<div class="container">
     <div class="logo">
        <img src="~/images/jira.svg" alt="Logo" />
    </div>
    <hr />
  <div class="row">
      <p class="card-text">
                   Staff must not disclose the contents of their agreement with the Serpent, 
                   any trade secrets or other information of a confidential nature relating to the Serpent, 
                   their business and/or their clients or in respect of which the Serpent owes an obligation 
                   of confidence to any third party during or after your employment except in the proper course 
                   of your employment or as required by law.
       </p>
        <p class="card-text">
                   Confidential information for the purposes of this policy includes, but is not limited to, trade secrets, 
                   business plans, strategies, course content (including assessment and results), financial information and 
                   any other information that will affect the Serpent’s competitive position.
       </p>
        <p class="card-text">
                   Staff must not remove any documents, information in whatever form and media, tangible items which belong 
                   to the Serpent or which contain any confidential information from the Serpent’s premises at any time
                   without proper advance authorization.
       </p>
        <p class="card-text">
                   Staff must, if requested by the Serpent, delete all confidential information from any re-usable material 
                   and destroy all other documents and tangible items which contain or refer to any confidential information 
                   and which are in their possession or under their control.
       </p>
        <p class="card-text">
                   Staff have the obligation to maintain confidentiality and secrecy. All staff are briefed on the Confidentiality
                   and Security Policy upon recruitment and are required to undertake to abide by the policy. This shall continue
                   to apply even after their employment until such time that the information is no longer confidential or has been
                   made public by the Serpent.
       </p>
        <p class="card-text">
                   The Serpent will make every effort to ensure that the confidentiality of the Student and Staff personal information 
                   is not compromised unless required to by order of court, laws, government authorities or during emergency whereby 
                   the safety and life of the Student or Staff may be endangered. This includes student assessment materials and results.
       </p>
  </div>
</div>