@page
@model SerpantWebApp.Pages.Classroom.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Classrooms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Classrooms.StudentID" class="control-label"></label>
                <input asp-for="Classrooms.StudentID" class="form-control" />
                <span asp-validation-for="Classrooms.StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classrooms.Name" class="control-label"></label>
                <input asp-for="Classrooms.Name" class="form-control" />
                <span asp-validation-for="Classrooms.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classrooms.Block" class="control-label"></label>
                <input asp-for="Classrooms.Block" class="form-control" />
                <span asp-validation-for="Classrooms.Block" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classrooms.Unit" class="control-label"></label>
                <input asp-for="Classrooms.Unit" class="form-control" />
                <span asp-validation-for="Classrooms.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classrooms.TimeSlot" class="control-label"></label>
                <input asp-for="Classrooms.TimeSlot" class="form-control" />
                <span asp-validation-for="Classrooms.TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
